@using Microsoft.AspNetCore.Identity;
@using OnlineCardShop.Data.Models;
@using OnlineCardShop.Infrastructure
@model UserDetailsServiceViewModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDealerService Dealers
@inject IUserService Users

@{
    var userId = User.GetId();
    var loggedUserIsTheSameUserAsThePageUser = Model.Id == userId;
}

<head>
    <link rel="stylesheet" href="~/css/usersDetails.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div id="main-row" class="row">
    <div id="profile-div" class="col col-xs-12 zoom m-5 p-4">
        <img id="profile-image" class="card-img-top" src="/@Model.ProfileImage" alt="Title">
    </div>
    <div id="information" class="col-lg-5 col-sm-12 m-lg-5 m-sm-0">
        <h2>@Model.FullName</h2>
        <h5 class="pt-5">ABOUT ME</h5>
        @if(Model.AboutMe != null)
        {
            <p>@Model.AboutMe</p>
        }
        else
        {
            <p>User is a boring dog!</p>
        }
        <p>JOINED ON @Model.AccountCreated</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 ">

    </div>
    <div id="buttons-div"class="col-lg-6 col-sm-12">
        @if (!loggedUserIsTheSameUserAsThePageUser)
        {
            <a class="btn btn-info btn-big" asp-action="Chat" asp-controller="Chat" asp-route-id="@Model.Id">Message</a>
            <a class="btn btn-danger btn-big" data-toggle="modal" data-target="#exampleModal">Report</a>
        }
        else
        {
            <a class="btn btn-warning btn-big" asp-area="Identity" asp-action="Manage" asp-controller="Account">Edit</a>
        }
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">REPORT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">DESCRIBE WHY DO YOU REPORT THE USER:</label>
                            <textarea asp-for="ReportReason" class="form-control" id="message-text"></textarea>
                        </div>

                        <div class="modal-footer text-center">
                            <input class="btn btn-info" type="submit" value="SEND" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Users/details.js"></script>