@model AllCardsServiceModel

@{
    ViewData["Title"] = "All Cards";
}


<form method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Hyunjin, Mingi, etc..">
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Category</option>
                    <option value="1" >Condition</option>
                </select>
              </div>
        </div>
    </div>
</form>

<partial name="_CardsPaginationPartial" model="@Model" />

@if (!Model.Cards.Any())
{
    <h2 class="text-center">No cards found!</h2>
}else{
<partial name="_CardsListingPartial" model="@Model" />
}
