@model AllCardsServiceModel

@{
    ViewData["Title"] = "All Game Cards";
}

<head>
    <link rel="stylesheet" href="~/css/cards.css" />
</head>


<form method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Yu-Gi-Oh, Magic: The Gathering, etc..">
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="1" >Condition</option>
                </select>
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Order"></label>
                <select asp-for="Order" class="form-control">
                    <option value="0">Best to worse</option>
                    <option value="1">Worse to best</option>
                </select>
            </div>
        </div>
    </div>
</form>

<partial name="_CardsPaginationPartial" model="@Model" />

@if (!Model.Cards.Any())
{
    <h2 class="text-center">No cards found!</h2>
}else{
<partial name="_CardsListingPartial" model="@Model" />
}
