@model AllCardsServiceModel

@{
    ViewData["Title"] = "My Cards";
    ViewBag.AllowCardEdit = true;
}

<partial name="_CardsPaginationPartial" model="@Model" />

@if (!Model.Cards.Any())
{
    <h2 class="text-center">You have no cards!</h2>
}else{
<partial name="_CardsListingPartial" model="@Model" />
}

