@model AllCategoriesServiceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="row">
@foreach(var category in @Model.Categories)
{
    @if(category.Id == 1)
        {
            <div class="col-sm-6">
                <div class="widget">
                    <a class="gradient-overlay d-flex justify-content-center align-items-center" asp-controller="Cards" asp-action="Kpop">
                        <h1 class="widget-text">
                            BROWSE<br> <span class="category-span">@(category.Name.ToUpper())</span><br> CARDS
                        </h1>
                    </a>
                </div>
            </div>
        }
        else{
            <div id="bottom-widget" class="col-sm-6">
                <div class="widget">
                    <a class="gradient-overlay d-flex justify-content-center align-items-center" asp-controller="Cards" asp-action="Game">
                        <h1 class="widget-text">
                            BROWSE<br> <span class="category-span">@(category.Name.ToUpper())</span><br> CARDS
                        </h1>
                    </a>
                </div>
            </div>
        }
    }
</div>

<div id="additional-section" class="row">
    <div class="col-12">
        <h1 id="additionalSectionHeader" class="d-flex justify-content-center align-items-center">TAKE TRADING CARDS ON A NEW LEVEL</h1>
        <p id="additionalSectionParagraph" class="d-flex justify-content-center align-items-center text-center">
            WE LINK EVERYONE FROM KPOP FANATICS TO CASUAL BOARD GAME PLAYERS AT ONLINECARDSHOP<br />
            EVERYONE FROM VENDORS AND PURCHASERS TO CASUAL INFORMATION NERDS CURIOUS ABOUT THE STATE OF THE CARD MARKET<br />
            PLEASE FEEL FREE TO JOIN OUR RANKS NOW!
        </p>
    </div>
</div>

<div id="statistics" class="row text-center justify-content-center">
    <div id="statisticsHeader" class="col-12 mb-5">
        <h1>
            OUR STATISTICS
        </h1>
    </div>
    <div class="col-sm-6 statCard">
        <div class="card card-overlay">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">USERS</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-12 text-center">
                        <h2>
                            3,243
                        </h2>
                    </div>
                </div>
                <div class="progress mt-1 progress-bar-custom" data-height="8">
                    <div class="progress-bar-red l-bg-cyan progress-bar-inner-custom" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 statCard">
        <div class="card card-overlay">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">DEALERS</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-12 text-center">
                        <h2>
                            3,243
                        </h2>
                    </div>
                </div>
                <div class="progress mt-1 progress-bar-custom" data-height="8">
                    <div class="progress-bar-red l-bg-cyan progress-bar-inner-custom" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 statCard">
        <div class="card card-overlay">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">KPOP CARDS</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-12 text-center">
                        <h2>
                            3,243
                        </h2>
                    </div>
                </div>
                <div class="progress mt-1 progress-bar-custom" data-height="8">
                    <div class="progress-bar-red l-bg-cyan progress-bar-inner-custom" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 statCard">
        <div class="card card-overlay">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">GAME CARDS</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-12 text-center">
                        <h2>
                            3,243
                        </h2>
                    </div>
                </div>
                <div class="progress mt-1 progress-bar-custom" data-height="8">
                    <div class="progress-bar-red l-bg-cyan progress-bar-inner-custom" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Home/index.js"></script>