#statistics-h3 {
    margin-bottom: 19%;
}

#total-rating-row {
    margin-bottom: 5%;
}

#stars-rating {
    color: gold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#experience-dealer-h4 {
    margin-top: 10%;
    margin-bottom: 5%;
}

#submit-btn {
    margin-top: 5%;
}

#recent-reviews-h3 {
    margin-bottom: 9%;
}

#card-div {
    margin-top: 5%;
}

#profile-image-div {
    height: 135px;
    width: 135px;
}

#dealers-text-area {
    resize: none;
}