@using Microsoft.AspNetCore.Identity
@using OnlineCardShop.Data
@using OnlineCardShop.Data.Models
@using OnlineCardShop.Infrastructure
@using OnlineCardShop.Services.Dealers

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDealerService Dealers
@inject OnlineCardShopDbContext data
@inject IUserService Users

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var userId = User.GetId();
    var userIsDealer = Dealers.IsDealer(userId);
    var userIsAdmin = User.IsAdmin();
    var idOfReceiverOfMostRecentChat = Users.IdOfReceiverOfMostRecentChat(userId);

    var currentUserProfileImagePath = new { path = string.Empty };
    string imagePath;

    if(!userIsAdmin){
        currentUserProfileImagePath = this.data
        .Users
        .Where(u => u.Id == userId)
        .Select(user => new 
        { 
            path = user.ProfileImage.Path
        })
        .FirstOrDefault();

        imagePath = currentUserProfileImagePath.path.Replace("res", string.Empty);
    }else{
        imagePath = "ProfileImages/admin.png";
    }

    if(!userIsDealer && !userIsAdmin){
        <partial name="_nonDealerNonAdminPartial" />
    }else if(!userIsAdmin && userIsDealer){
        <partial name="_nonAdminDealerPartial" />
    }else if (userIsAdmin)
    {
        <partial name="_adminPartial" />
    }
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Chat" asp-action="Chat" asp-route-id="@(idOfReceiverOfMostRecentChat != null ? idOfReceiverOfMostRecentChat : string.Empty)">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
        <li>
            <img class="rounded-circle z-depth-2" style="height:70px; width:70px;" src="/@imagePath" data-holder-rendered="true">
        </li>
    }
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
