<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Cards" asp-action="Mine">My Cards</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Cards" asp-action="Add">Add Card</a>
</li>